* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

h1 {
font-size: 1.75em;
text-align: center;
}

#section1, #section2, #section3 {
padding: 10px;
float: left;
}

.content {
  position: relative;
  background-color: gray;
  border:2px solid black;
  padding-top: 30px;
 }

.title {
  border:1px solid black;
  font-size: 1.25em;
  position: absolute;
  top: 0;
  right: 0;
}

#section1 .title {
  background-color: #065C37;
}

#section2 .title {
  background-color: #B95B37;
}

#section3 .title {
  background-color: #0D4EE1;
}

@media (min-width: 992px) {
  #section1, #section2, #section3 {
  width: 33%
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 #section1, #section2 {
  width: 50%;
 }
 #section3 {
  width: 100%
 }
}

@media (max-width: 767px) {
  #section1, #section2, #section3 {
  width: 100%
  }
}