* {
	box-sizing: border-box;
}
#header-nav {
	background-color: gray;
	border-radius: 0;
	border: 0;
}
.navbar-default .navbar-brand {
	color: black;
}
.navbar-default .navbar-nav>li>a {
	color: black;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: white;
}
.container-fluid .row-fluid {
	margin: 15px 15px 15px 15px;
}
.row-fluid > div > div {
	border: 2px solid black;
	background-color: gray;
	padding: 10px 15px 10px;
	margin-bottom:30px;
}
